p {
    border: 5px solid green;
    padding: 5px 40px;
    background-color: whitesmoke;
}

#first_p {
    padding-bottom: 100px;
    color: aliceblue;
    background: goldenrod;
    background-image: url(../images/img\ \(1\).jpg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right top;
}

.box {
    width: 400px;
    height: 400px;
    background-color: brown;
    background-position: right;
    background-position: 100% 50%;
}

#box1 {
    width: 200px;
    height: 200px;
    background-color: rgba(0, 255, 255, 0.774);
    background-position: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}